.new-todo  {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  width: 700px;
}

.new-todo-active {
  border: 1px solid #c5c5c5;
  box-shadow: 1px 1px 5px #c3c3c3;
}

.new-todo h2 {
  font-weight: 400;
}
