* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: EBGaramond;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: #faf5f5;
}

.todo-textarea {
  border: none;
  width: 100%;
  resize: none;
  padding: 5px;
}

.todo-textarea:focus, .todo-textarea:active {
  outline: none;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #faf5f5;
  color: #ababab;
}

@font-face {
  font-family: EBGaramond;
  src: url('./assets//fonts/EBGaramond-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: EBGaramond;
  src: url('./assets//fonts/EBGaramond-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}